<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
</head>
<body>
<div class="container mt-3">

    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <p class="form-label">Çeviri Yap </p>
                <input type="textarea" class="form-control" id="textToTranslate">
            </div>

            <div style="padding: 25px 25px 25px 25px;">
                <button onclick="translateToFrench()" class="btn btn-secondary">Türkçeye Çevir</button>
                <button onclick="translateToEnglish()" class="btn btn-secondary">İngilizceye Çevir</button>
            </div>


            <div id="translated_text" style="padding: 25px 25px 25px 25px;"></div>

            <div>

                 <button onclick="" class="btn btn-secondary">Seslendir</button>
            </div>
        </div>
    </div>

</div>
</body>
</html>